@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&display=swap');

:root {
  --logo-teal: #00828b;
  --loader-teal: #00828b;
  --primary-dark-green: #044c52;
  --primary-hover: #00818a;
  --secondary-dark-blue: #19398f;
  --secondary-hover: #1f59fa;
  --error-red: #e03838;
  --disabled-gray: #555555;
  --correct-green: #4E9F3D;
  --incorrect-red: #e03838;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Karla';
}
